
{% block extra_css %}
<style>
header{
    background-image: url("{{ header_image.image.url }}");
    width: 100%;
    height:auto;
    background-size: cover;
    background-color: #7BA88E;
    position:  sticky;
    top: 0;
    left: 0;
    z-index: 100;
}
</style>
{% endblock extra_css %}
<header>
   <div class="header_content">
     {% include "shop/includes/nav_icons.html" %}

   <div class="logo_wrapper">
      <img src="{{ site_logo.image.url }}" alt="logo">
      <div class="nice_basket">
         <img src="{{ basket.image.url }}" alt="basket">
      </div>
   </div>
       {% include "shop/includes/user_icons.html" %}
   </div>
    
</header>


    
    {% comment %} <button class="wood-btn">Посмотреть каталог</button> {% endcomment %}