<div class="review_content" id="review-{{ review.id }}">
    <div class="review_content" 
     hx-get="{% url 'shop:review_popup' review.id %}" 
     hx-target="#review-popup-container" 
     hx-swap="innerHTML"
     hx-trigger="click"
     onclick="event.stopPropagation()">
    
    <div class="review_text">
        <p class="review_info">
            {{ review.display_name }}
            {{ review.created_at|date:"d.m.Y" }}
        </p>
        {% include 'shop/includes/rating_stars.html' with rating=review.rating %}<span>{{ review.rating }}</span>
        <h4 class="review_title">{{ review.title }}</h4>
        {% if review.advantages %}
        <h5>Достоинства:</h5>
            <p class="review_text_content">{{ review.advantages }}</p>
        {% endif %}
        {% if review.disadvantages %}
        <h5>Недостатки:</h5>
            <p class="review_text_content">{{ review.disadvantages }}</p>
        {% endif %}
        {% if review.text %}
        <h5>Впечатления о товаре:</h5>
        <p class="review_text_content">{{ review.text }}</p>
        {% endif %}
    </div>
    
    <div class="review_media">
        {% for media in review.media.all %}
        <div class="review_image_wrapper">
            <img src="{{ media.file.url }}" alt="{{ review.title }}">
        </div>
        {% endfor %}
    </div>
    
</div>
    
    <!-- Блок ответа магазина -->
    <div class="review_answer_block" id="answer-container-{{ review.id }}">
        {% if review.review_answer %}
            {% include 'shop/includes/review_answer_fragment.html' with review=review %}
        {% elif user.is_superuser %}
            <!-- Форма ответа для админа -->
            <form class="admin-reply-form"
                  hx-post="{% url 'shop:review_add_reply' review.id %}"
                  hx-target="#answer-container-{{ review.id }}"
                  hx-swap="innerHTML"
                  hx-indicator="#loading-{{ review.id }}">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ review.product.id }}">
                
                <div class="input-group">
                    <textarea name="answer" 
                              class="form-control" 
                              rows="2" 
                              placeholder="Напишите ответ как администрация..."
                              required></textarea>
                    <button type="submit" class="users-btn">
                        📤 Отправить
                    </button>
                </div>
                <small class="text-muted">Ответ появится сразу после отправки</small>
            </form>
            <div id="loading-{{ review.id }}" class="htmx-indicator">
                <span class="spinner-border spinner-border-sm"></span> Отправка...
            </div>
        {% endif %}
    </div>
</div>

<!-- Контейнер для попапа -->
<div id="review-popup-container"></div>