{% extends 'dashboard/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>Панель администратора</h1>
 

 {% comment %} <div class="admin_buttons_panel">
  
  <input type="button" class="order_action_btn"value="На главную" onclick="window.location.href='{% url 'shop:index' %}'">
 <div x-data="{ unread: 0 }" 
     x-init="
         const poll = async () => {
             const res = await fetch('/notifications/chat/unread-count/');
             const data = await res.json();
             unread = data.count;
         };
         poll();
         setInterval(poll, 10000);
     "
     style="position:relative; display:inline-block;">
    
    <input type="button" class="order_action_btn" value="💬 Чат с клиентами"
           onclick="window.location.href='{% url 'dashboard:chat_list' %}'">
    
    <span x-show="unread > 0"
          x-text="unread"
          style="
              position:absolute; top:3px; right:3px;
              background:red; color:#fff; border-radius:50%;
              width:20px; height:20px; font-size:11px;
             padding:3px;
              pointer-events:none; text-align:center;
          ">
    </span>
</div> {% endcomment %}
<input type="button" onclick="window.location.href='{% url 'shop:index' %}'" class="users-btn profile_logaut_btn" value="На главную">
  {% comment %} <input type="button" onclick="window.location.href='{% url 'dashboard:manage_orders' %}'" class="order_action_btn" value="Управление заказами">
  <input type="button" class="order_action_btn" value="Добавить товар" onclick="window.location.href='{% url 'dashboard:product_create' %}'">
  <input type="button" class="order_action_btn" value="Поиск товара по артикулу" onclick="window.location.href='{% url 'dashboard:product_search' %}'">
  <input type="button" class="order_action_btn" value="Сделать клон товара" onclick="window.location.href='{% url 'shop:catalog' %}'">
  <input type="button" class="order_action_btn" value="Редактировать товар" onclick="window.location.href='{% url 'shop:catalog' %}'">
  <input type="button" class="order_action_btn" value="Работа с остатками" onclick="window.location.href='{% url 'dashboard:stock_sync' %}'">
  <input type="button" class="order_action_btn" value="Работа с ценами" onclick="window.location.href='{% url 'dashboard:price_sync' %}'"> {% endcomment %}
  {% comment %} <input type="button" class="order_action_btn" value="Расставить оттенки" onclick="window.location.href='{% url 'dashboard:shade_review' %}'"> {% endcomment %}
  {% comment %} <input type="button" class="order_action_btn" value="Обновить длину волос" onclick="window.location.href='{% url 'dashboard:update_hair_length' %}'"> {% endcomment %}
  {% comment %} <input type="button" class="order_action_btn" value="Обновить  оттенки волос" onclick="window.location.href='{% url 'dashboard:update_hair_shade' %}'"> {% endcomment %} 
  {% comment %} <input type="button" class="order_action_btn" value="Редактор групп" onclick="window.location.href='{% url 'dashboard:group_editor' %}'"> {% endcomment %}
<form class="auth_form" method="post" action="{% url 'users:logout' %}">
    {% csrf_token %}
    <button class="users-btn profile_logaut_btn" type="submit">Выйти</button>
</div>
{% endblock %}