{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% comment %} <link rel="shortcut icon" href="{{favicon.image.url}}"/> {% endcomment %}
    <link type="text/css" rel="stylesheet" href="{% static 'shop/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'shop/css/dropzone.min.css' %}">
    {% block extra_css %}{% endblock extra_css %}
</head>
<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>    
<div class="all_content_wrapper">
  
    
    
{% block content %}


{% endblock content %}

</div>
<script defer src="{% static 'shop/js/alpine.js' %}"></script>
<script defer src="{% static 'shop/js/htmx.min.js' %}"></script>
<script  src="{% static 'shop/js/dropzone.min.js' %}"></script>
<script  src="{% static 'shop/js/sortable.min.js' %}"></script>
<script  src="{% static 'shop/js/main.js' %}"></script>
<script defer src="{% static 'shop/js/gsap.js' %}"></script>
<script defer src="{% static 'shop/js/ScrollTrigger.js' %}"></script>
{% block extra_js %}{% endblock %} 
</body>
</html>
