 <div class="cart_products_list" id="cart-products-list">
            {% for item in user_cart_products %}
                <div class="spec-item" id="cart-products-item-{{ item.product.id }}">
                    <a href="{{ item.product.get_absolute_url }}" class="profile_cart_image_wrapper">
                        <img src="{{ item.product.main_image.url }}" alt="{{ item.product.name }}">
                    </a>
                    <span class="spec-label cart_spec_label" style="flex-shrink: 1;">{{ item.product.name }}</span>
                    <span class="spec-dots"></span>
                    <span class="spec-label cart_spec_label" style="color: #aa8870; font-size: 13px;">
    {{ item.quantity }} шт. × {{ item.product.final_price }} ₽..
</span>
<span class="spec-value cart_spec_value">{{ item.total_price }} ₽</span>
                    <!-- удаление из корзины  alpine htmx -->
                   <button 
    class="cart_delete_btn"
    hx-delete="{% url 'shop:remove_from_cart' item.id %}"
    hx-target="#cart-products-list"
    hx-swap="outerHTML"
    >удалить</button>


   <!-- Блок управления количеством -->
            <div class="quantity-controls" style="display: flex; align-items: center; gap: 10px;">
                <button hx-post="{% url 'shop:update_cart' item.id %}" 
                        hx-vals='{"action": "minus"}'
                        hx-target="#cart-products-list"
                        class="qty-btn">-</button>
                
                <span class="qty-val">{{ item.quantity }}</span>
                
                <button hx-post="{% url 'shop:update_cart' item.id %}" 
                        hx-vals='{"action": "plus"}'
                        hx-target="#cart-products-list"
                        class="qty-btn">+</button>
            </div> 
                </div>

   
                {% empty %}
                <p class="no-items">Нет товаров в корзине</p>

              
            {% endfor %}

            
            {% if user_cart_total > 0 %}
                <div class="spec-item"style="margin-top: 20px;">
                    <span class="spec-label">Всего товаров на сумму</span>
                    <span class="spec-dots"></span>
                    <span class="spec-value" style="font-size: 24px; color:#C43F44" id="cart-total">{{ user_cart_total }} ₽</span>
                </div>
                <div x-data="{ open: false }">
  
  {# Кнопка открывает модалку вместо прямого перехода #}
  <input type="button" 
         class="users-btn start_order_btn" 
         value="Оформить заказ" 
         @click="open = true">

  {# Модалка #}
  <div x-show="open" 
       x-cloak
       class="modal-overlay"
       style="position:fixed;inset:0;background:rgba(0,0,0,.5);z-index:1000;display:flex;align-items:center;justify-content:center">
    {# По центру экрана #}
    <div class="modal-box" 
         style="background:#fff;border-radius:12px;padding:2rem;max-width:420px;width:90%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);"
         @click.stop>
      
      <h2 class="mb-3">{{atantion.title}}</h2>
      
      <p class="mb-3">{{atantion.content|safe}}</p>
      
      <div class="d-flex gap-2 justify-content-end" style="display:flex;">
        <button class="order_action_btn" @click="open = false">
          Отмена
        </button>
        <a href="{% url 'shop:order_create' %}" class="order_action_btn">
          Продолжить
        </a>
      </div>

    </div>
  </div>

</div> 
            {% endif %}

          